
<!-- <h1 style="color:Green; text-align:center">Success!</h1>
<h4 style="color:green; text-align:center">Pension Disbursement is Successful</h4><br>
<div class="col-md-12 bg-image">
    <div class="container" align="center" style="padding-left: 25%;">
        <br>
        <h2 style="color: violet;">Pension Details</h2>
        <form class="form">
            <div class="col-md-8" style="text-align: center;color: white;">
                <div class="form-group">
                    <label for="name">Pensioner Name : </label>
                    <input type="text" name="names" [(ngModel)]="names" placeholder="name"
                        required="" disabled />
                </div>
                <div class="form-group">
                    <label for="name">Aadhaar Number : </label>
                    <input type="text" name="aadhaarNumber" [(ngModel)]="aadhaarNumber"
                        placeholder="aadhaarNumber" required="" disabled />
                </div>
                <div class="form-group">
                    <label for="name">Pension Amount : </label>
                    <input type="text" name="pensionAmount" [(ngModel)]="pensionAmount"
                        placeholder="pensionAmount" required="" disabled />
                </div>
                <div class="form-group">
                    <label for="name">Type of Pension : </label>
                    <input type="text" name="name" [(ngModel)]="typeOfPension"
                        placeholder="type" required="" disabled />
                </div>
                <div class="form-group">
                    <label for="name">Bank Name : </label>
                    <input type="text" name="bankName" [(ngModel)]="bankName" placeholder="bankName"
                        required="" disabled />
                </div>
                <div class="form-group">
                    <label for="name">Bank Service Charge : </label>
                    <input type="text" name="bankServiceCharge"
                        [(ngModel)]="bankServiceCharge" placeholder="bankServiceCharge"
                        required="" disabled />
                </div>
            </div>
        </form>
        <br>
    </div>
</div> -->


<div class="info-card info-card--success">
    <div class="info-card_icon">
        <img class="info-card_img-icon" src="assets/images/success.svg" alt="success">
    </div>
    <h4 class="info-card_label">Pension Disbursement is Successful</h4>
    <div class="card">
        <div class="card-header">
            <strong>Pension Details</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label class="label-name">Pensioner Name : </label> <span
                            class="details">{{names}}</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="label-name">Aadhaar Number : </label> <span
                            class="details">{{aadhaarNumber}}</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="label-name">Pension Amount : </label> <span
                            class="details">{{pensionAmount}}</span>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="form-group">
                        <label class="label-name">Bank Name : </label> <span class="details">{{bankName}}</span>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label class="label-name">Type of Pension : </label> <span class="details">{{typeOfPension}}</span>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="form-group">
                        <label class="label-name">Bank Service Charge : </label> <span
                            class="details">{{bankServiceCharge}}</span>
                    </div>
                </div>
            </div>
        </div>
       
    </div>    
</div>